.chatlabel-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.chat-content {
	background-color: #6c757d;
	color: #f8f9fa;
	border-radius: 15px;
	max-width: 90%;
	padding: 10px;
	margin: 0;
	text-align: left;
	min-height: 40px;
}

.img-container {
	display: flex;
	flex-direction: row;
	font-weight: 600;
	align-items: center;
}

.label-img {
	border-radius: 100%;
	width: 40px;
	margin: 5px;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #6c757d transparent;
	margin-left: 15px;
}
