* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}

#root {
	background-color: #212529;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 14px;
	color: #f8f9fa;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 90%;
	margin: 30px;
	background-color: #343a40;
	max-height: 100%;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	padding-left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
	max-width: 60%;
}

.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.register-button {
	outline: none;
	cursor: pointer;
	border: none;
	color: inherit;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.register-button:hover {
	border-bottom: 1px solid #f8f9fa;
}

@media (max-width: 960px) {
	html,
	body {
		height: 110%;
		min-height: 100vh;
		min-height: -webkit-fill-available;
	}

	.title-container {
		padding: 10px;
		margin: 10px;
	}

	.container {
		margin: 10px;
		max-width: 90%;
	}
}
